#menubar{
 color: #9d9d9d;
 background-color: #dcdcdc;
 background-image: url(bg-menu.png);
 background-repeat:repeat-x;
 border-style: none;
 }

#menubar::item {
     background: transparent;
 }
#menubar::item:selected {
     background: #f9f9f9;
 }

 #menubar::item:pressed {
     background: #3a3a3a;
 }

IconSetter
{
 qproperty-toolbar: url(button-toolbar.png); 
 qproperty-backward: url(button-rewind.png);
 qproperty-previous: url(button-previous.png);
 qproperty-playPause: url(button-play-pause.png);
 qproperty-stop: url(button-stop.png);
 qproperty-record: url(button-record.png);
 qproperty-next: url(button-next.png);
 qproperty-forward: url(button-fastforward.png);
 qproperty-repeat: url(button-repeat.png);
 qproperty-shuffle: url(button-shuffle.png);
}
#toolbar
{
 background-image: url(bg-toolbar.png); 
 border-style: none;
}

#toolbar > QToolButton:hover
{
 border-style: none;
}

MediaBarPanel
{
 background-image: url(bg-mediabar.png);
 background-repeat:repeat-x;
}

MediaPanel
{
   qproperty-bgLeft: url(bg-panel-left.png);
   qproperty-bgRight: url(bg-panel-right.png);
   qproperty-bgCenter: url(bg-panel.png);
}
#panel-main-label {
 color: #b8b8b8;
}

#panel-seeker
{
 qproperty-left: url(bg-seekbar-left.png);
 qproperty-center: url(bg-seekbar.png);
 qproperty-right: url(bg-seekbar-right.png);
 qproperty-knob: url(button-seek-knob.png);
 qproperty-progress: url(bg-seekbar-progress.png);
 qproperty-buffering: url(bg-seekbar-buffering.png);
}

#volume-control-panel
{
 qproperty-mute: url(button-min-volume.png);
 qproperty-max: url(button-max-volume.png);
 qproperty-fullscreen: url(button-fullscreen.png);
 qproperty-playlist: url(button-playlist.png);
 qproperty-equalizer: url(button-equalizer.png);
 qproperty-volumebar: url(bg-volumebar.png);
 qproperty-volumebarProgress: url( bg-volumebar-progress.png);
 qproperty-volumeKnob: url(button-volume-knob.png);
}

#panel-elapsed-label {
 color: #b8b8b8;
}

#panel-total-label {
 color: #b8b8b8;
}
#search-box
{
 qproperty-bgLeft: url(bg-search-box-left.png);
 qproperty-bgRight: url(bg-search-box-right.png);
 qproperty-bgCenter: url(bg-search-box.png);
 qproperty-arrow: url(search-arrow.png);
 qproperty-search: url(search-icon.png);
 qproperty-youtube: url(search-youtube.png);
 qproperty-shoutcast: url(search-shoutcast.png);
}
#search-box #input
{
	color: #9d9c9a;
}